h1 {
    margin: 0px;
}

#canvas {
    display: flex;
    list-style: none;
    height: 141px;
    width: 235px;
}

#leftSide {
    display: flex;
    flex-flow: column wrap;
    list-style: none;

}

#divChart {
    display: flex;
    flex-flow: row wrap;
    list-style: none;
    height: 62px;
    min-width: 45px;
    margin: 0px 30px 25px 20px;
}

.chartCells {
    height: 5px;
    width: 4px;
    border: .3px solid black;
    margin: 1px;
}

.button {
    border: .5px solid black;
    height: 14px;
    max-width: 50px;
    text-align: center;
    border-radius: 10px;
    margin: 10px 0px 0px 15px;
    font-size: 12px;   
}

#rightSide {
    display: flex;
    flex-flow: row wrap;
    list-style: none;
    margin: 0px 0px 20px 0px;
}

.cells {
    height: 4px;
    width: 4px;
    border: .5px solid black;
}

@media only screen and (min-width: 320px) {
    #canvas {
        height: 189px;
        width: 310px;
    }
    
    #divChart {
        height: 83px;
        min-width: 60px;
        /* margin: 0px 30px 20px 20px; */
    }
    
    .chartCells {
        height: 7px;
        width: 6px;
    }
    
    .button {
        height: 14px;
        min-width: 18px;
        margin: 10px 0px 10px 20px;
        
    }
    
    #rightSide {
        /* margin: 0px 0px 20px 0px; */
    }
    
    .cells {
        height: 6px;
        width: 6px;
        border: .5px solid black;
    }
    
}

@media only screen and (min-width: 480px) {
    #canvas {
        height: 252px;
        width: 460px;
    }
    
    #divChart {
        height: 113px;
        min-width: 70px;
        /* margin: 0px 30px 20px 20px; */
    }
    
    .chartCells {
        height: 10px;
        width: 9px;
    }
    
    .button {
        height: 14px;
        min-width: 24px;
        margin: 10px 0px 10px 25px;
        
    }
    
    #rightSide {
        /* margin: 0px 0px 20px 0px; */
    }
    
    .cells {
        height: 8px;
        width: 8px;
        border: .5px solid black;
    }
    
}

@media only screen and (min-width: 610px) {
    #canvas {
        height: 337px;
        width: 600px;
    }
    
    #divChart {
        height: 151px;
        min-width: 95px;
        /* margin: 0px 30px 20px 20px; */
    }
    
    .chartCells {
        height: 14px;
        width: 13px;
    }
    
    .button {
        height: 16px;
        min-width: 33px;
        margin: 20px 0px 10px 40px;
        
    }
    
    #rightSide {
        /* margin: 0px 0px 20px 0px; */
    }
    
    .cells {
        height: 11px;
        width: 11px;
        border: .5px solid black;
    }
    
}

@media only screen and (min-width: 790px) {
    #canvas {
        height: 450px;
        width: 770px;
    }
    
    #divChart {
        height: 202px;
        min-width: 125px;
        margin: 0px 30px 20px 20px;
    }
    
    .chartCells {
        height: 18px;
        width: 18px;
    }
    
    .button {
        height: 22px;
        min-width: 45px;
        margin: 20px;
        margin: 20px 0px 10px 50px;
        font-size: 15px;
    }
    
    #rightSide {
        margin: 0px 0px 20px 0px;
    }
    
    .cells {
        height: 15px;
        width: 15px;
        border: .5px solid black;
    }
    
}

@media only screen and (min-width: 1024px) {
    #canvas {
        height: 600px;
        width: 1000px;
    }
    
    #divChart {
        height: 270px;
        min-width: 170px;
        margin: 0px 30px 20px 20px;
    }
    
    .chartCells {
        height: 25px;
        width: 25px;
        border: .3px solid black;
    }
    
    .button {
        height: 30px;
        min-width: 80px;
        margin: 40px 0px 10px 60px;
        font-size: 20px;
    }
    
    #rightSide {
        margin: 0px 0px 20px 0px;
    }
    
    .cells {
        height: 20px;
        width: 20px;
        border: .5px solid black;
    }
}

@media only screen and (min-width: 1480px) {
    #canvas {
        height: 900px;
        width: 1490px;
    }
    
    #divChart {
        height: 405px;
        min-width: 255px;
        margin: 0px 30px 20px 20px;
    }
    
    .chartCells {
        height: 37px;
        width: 37px;
        border: .3px solid black;
    }
    
    .button {
        height: 45px;
        min-width: 120px;
        margin: 40px 0px 10px 70px;
        font-size: 40px;
    }
    
    #rightSide {
        margin: 0px;
    }
    
    .cells {
        height: 31px;
        width: 30px;
        border: .6px solid black;
    }
}

